{% extends 'base.html.twig' %}

{% block title %}Redirection{% endblock %}

{% block body %}
<br/>
    <h3>Redirection !</h3>
    <br/>

<div class="example-wrapper">
    <h5>Espace Administrateur bloqué</h5>
    <img src="{{asset('images/Beladonis.png')}}" >
    <ul>
        <li>Règle numéro 1 : l'espace administrateur est réservé au administrateurs !</li>
        <li>Règle numéro 2 : un vrai dresseur ne fait pas ce genre de choses</li>
    </ul>
    <br/>
    <h5>Tu ne serais pas de la team Rocket ?</h5>
    <br/>
    <h5>Bien essayé quand même !</h5>
</div>
{% endblock %}